html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  transition-duration: 0.2s;
}

body.dark {
  background-color: #000000;
}

body.light {
  background-color: #ffffff;
}

.container {
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.container.noshadow {
  box-shadow: none;
}

.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.fakeMenu {
  width: 1024px;
  box-sizing: border-box;
  height: 25px;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.fakeMenu.dark {
  background-color: #151515;
}
.fakeMenu.light {
  background-color: #d8d8d8;
}

.fakeScreen {
  box-sizing: border-box;
  width: 1024px;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.fakeScreen.dark {
  background-color: #151515;
}
.fakeScreen.light {
  background-color: #d8d8d8;
}

.center {
  height: 350px;
  width: 350px;
  padding: 10px;
}

@-webkit-keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}
.progress-bar {
  border-radius: 60px;
  overflow: hidden;
  width: 100%;
}
.progress-bar span {
  display: block;
}

.bar {
  background: rgba(0, 0, 0, 0.075);
}

.progress {
  -webkit-animation: loader 5s ease;
          animation: loader 5s ease;
  color: #fff;
  padding: 5px;
  width: 0;
}

.progress.light {
  background: #151515;
}

.progress.dark {
  background: #d8d8d8;
}

.progress-bar {
  width: 100%;
}
.progress-bar.light {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  background-color: #d8d8d8;
}
.progress-bar.dark {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  background-color: white;
}

.ls-logo {
  display: block;
  width: 250px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}
.ls-logo.light {
  background-image: url('assetts/foxhound.png');
}
.ls-logo.dark {
  background-image: url('assetts/foxhound.png');
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: #a8a8a8;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
}
